<!doctype html>
<html ng-app="MyApp">
    <head>
        <script src="angular.js"></script>
        <script  src="demo.js"></script>
        <script type="text/javascript" src="jquary.js"></script>
    </head>
    <body ng-controller="Trycontroller">
	<a href="C:/Users/liufan/comatrix/views-2/project/fun1.html">Open</a>
    <img  src="sc.jpg" width="50" height="50" onMouseOver="this.width='500'; this.height='500';" onMouseOut="this.width='50'; this.height='50'" >
    <form name="informationForm">
        	user: 				<input type="text" name=user ng-model="nguser" ng-minlength=5 required >
        						<small ng-show="informationForm.user.$error.required">*must</small>
        						<small ng-show="informationForm.user.$error.minlength">*at least 5 word</small>
        						<small ng-show="informationForm.user.$valid">√</small>
        	<br> 
            serch:          <input type="text" ng-model="query" >
        	password: 		<input type="password" name="passwordfir" ng-model="password1" required>
        						<small ng-show="informationForm.passwordfir.$error.required">*must</small>
        						<small ng-show="informationForm.passwordfir.$valid">√</small>
        	<br> 
        	confirm password:	<input type="password" ng-model="password2" required>
					        	<small ng-show="informationForm.personPswd2.$error.required">*must</small>
        	<br> 
        	 <input type="checkbox" ng-model="agree" ng-click="setregister()" >agree to the clase<hr>
        					<button  ng-click="register()" ng-disabled="informationForm.$invalid ||status">register</button> 
        	<hr>
        	<ul>
    				<li ng-repeat="user in list" >
      					{{user.reguser}}&nbsp;&nbsp;&nbsp;{{user.regpassword1}}
    					<button  ng-click="reset($index)"> x</button>
    				</li>
  			</ul>


      				
  
   
    	</div>
    	</form>








	</body>
</html>
