<div class="main-content">
	<div class="container">
		<div class="inside-box">
			<div class="teacher-list">
				<p>名师介绍</p>
				<ul>
					
				</ul>
			</div>
			<div class="shop">
				<div class="tag-box">
					<div class="tags">
			      <div class="tag1 selected">综合排序</div>
			      <div class="tag2">费用</div>
			      <div class="tag3">文书质量</div>
			      <div class="tag4">文书完成速度</div>
			      <div class="tag5">服务质量</div>
			      <div class="tag6">申请通过率</div>
			      <div class="tag7">签证通过率</div>
			    </div>
			    <div class="res-num">共有2条结果</div>
			  </div>
		    <div class="shop-box">
		      <div class="shop-img">
		      	
		      </div>
		      <div class="shop-data">
		      	
		      </div>
		      <div class="shop-info">
		      	
		      </div>
		    </div>
		  </div>
		  <div class="ad-list">
		  	<p>推荐机构</p>
		  	<ul>
		  		
		  	</ul>
	  	</div>
	  </div>
	</div>
</div>