    <div class="main-content">
      <div class="container">
        <div class="row">

          <div class="col-md-2">
            <div class="star-teacher gray-border">
              <div class="teacher-heading">
                <p class="pull-left"><strong>star teacher</strong></p>
                <a href="#" class="pull-right">more</a>
              </div>
              <ul class="list-group">
                <li>
                  <div class="panel panel-default">
                    <div class="panel-body table-container">
                      <div class="teacher-pic pull-left">
                        <a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
                      </div>
                      <div class="teacher-info">
                        <p><strong>Micheal</strong></p>
                        <p>TOEFL</p>
                        <p>no.1 sb this month</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="panel panel-default">
                    <div class="panel-body table-container">
                      <div class="teacher-pic pull-left">
                        <a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
                      </div>
                      <div class="teacher-info">
                        <p><strong>Micheal</strong></p>
                        <p>TOEFL</p>
                        <p>no.1 sb this month</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="panel panel-default">
                    <div class="panel-body table-container">
                      <div class="teacher-pic pull-left">
                        <a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
                      </div>
                      <div class="teacher-info">
                        <p><strong>Micheal</strong></p>
                        <p>TOEFL</p>
                        <p>no.1 sb this month</p>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>

          <div class="col-md-8">
            <div class="top-ins">
              <ul class="list-group">
                <li>
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <a href="#">No 1 Institute</a>
                    </div>
                    <div class="panel-body table-container">
                      <div class="ins-pic">
                        <a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
                      </div>

                      <div class="ins-info table-container">
                        <div class="star">
                          <p>综合星级</p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </div>

                        <div class="impression">
                          <p>印象</p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star-empty"></span>
                        </div>

                        <div class="tuan-number">
                          <p>已团人数</p>
                          <p>119</p>
                        </div>

                        <div class="has-tuan">
                          <a href="#"><button class="btn btn-primary">团购</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>


                <li>
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <a href="#">No 1 Institute</a>
                    </div>
                    <div class="panel-body table-container">
                      <div class="ins-pic">
                        <a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
                      </div>

                      <div class="ins-info table-container">
                        <div class="star">

                          <p>综合星级  还需要一个收藏键，在左边或者右边，设计一下</p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </div>

                        <div class="impression">
                          <p>印象(这下面应该是文字区域，不是星级了，是点赞最多的，或者短语的印象)</p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star-empty"></span>
                        </div>

                        <div class="tuan-number">
                          <p>已团人数</p>
                          <p>119</p>
                        </div>

                        <div class="has-tuan">
                          <a href="#"><button class="btn btn-primary">团购</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <a href="#">No 1 Institute</a>
                    </div>
                    <div class="panel-body table-container">
                      <div class="ins-pic">
                        <a href="#"><img src="new.jpg" class="img-rounded" alt="wel"></a>
                      </div>

                      <div class="ins-info table-container">
                        <div class="star">
                          <p>综合星级</p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </div>

                        <div class="impression">
                          <p>印象</p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star-empty"></span>
                        </div>

                        <div class="tuan-number">
                          <p>已团人数</p>
                          <p>119</p>
                        </div>

                        <div class="has-tuan">
                          <a href="#"><button class="btn btn-primary">团购</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>


                <li>
                  <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">
                      <a href="#">more</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-2">
            <div class="promote-ins gray-border">

              <div class="promote-heading">
                <p><strong>promote</strong></p>
              </div>

              <ul class="list-group">
                <li>
                  <div class="panel panel-default table-container">
                    <div class="ins-pic">
                      <a href="#"><img src="new.jpg" class="img-rounded" alt="new"></a>
                    </div>

                    <div class="ins-info">
                      <p>XXXX 公司</p>
                      <p>最低价：111</p>
                      <p>擅长领域：文书</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="panel panel-default table-container">
                    <div class="ins-pic">
                      <a href="#"><img src="new.jpg" class="img-rounded" alt="new"></a>
                    </div>

                    <div class="ins-info">
                      <p>XXXX 公司</p>
                      <p>最低价：111</p>
                      <p>擅长领域：文书</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="panel panel-default table-container">
                    <div class="ins-pic">
                      <a href="#"><img src="new.jpg" class="img-rounded" alt="new"></a>
                    </div>

                    <div class="ins-info">
                      <p>XXXX 公司</p>
                      <p>最低价：111</p>
                      <p>擅长领域：文书</p>
                    </div>
                  </div>
                </li>

                <li style="text-align: center">
                  <a href="#">more</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div> <!-- end of "container" -->
    </div> <!-- end of "main-content" -->