<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">DCS of BFSU</a> 
           
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/12.html#"> 网站首页 </a></li>
            <li ><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/13.html#">院系简介</a></li>
            <li class="active"><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/14.html#"> 培养方案 </a></li>
            <li><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/15.html#"> 教师队伍 </a></li>
            <li><a href="#">  学生风采 </a></li>
            <li><a href="#"> IT前沿   </a></li>
            <li><a href="#">  优秀毕业生 </a></li>
            <li><a href="#">   资源下载  </a></li>

          </ul>
             <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册账号</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录账号</a></li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container">
      <div class="jumbotron">
         <img src="file:///C:/Users/Administrator/Desktop/13.jpg#" class="img-thumbnail" align="right" alt="dcs -2" width="450" height="220"> 
        <h2><b >北京外国语大学计算机系<b ></h2>  
       
        <h4>Department of computer science||Beijing foreign studies university</h4>      
      <a href="#" class="btn btn-info btn-lg";"right "><span class="glyphicon glyphicon-search"></span> Search</a>

      </div>
      
     <div class="container">
      <div class="jumbotron">
        <div class="col-md-9">
            <h2>培养方案:</h2>
          <h4> <b >
           计算机科学与技术
          Computer Science and Technology<br ></h4>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> <b>(一) 专业概况<b></a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">  <b>本专业于2009年开始招生。本专业秉承北外严谨、务实的作风，坚持特色、创新的办学理念，致力于培养具有国际视野的、高层次、复合型计算机专业人才。<br >
            本专业课程设置分为公共必修课及公共选修课、专业基础课、专业课、专业选修课、英语技能课、实践性教学环节等几个模块。
              专业基础课包括高等数学、线性代数、概率论与数理统计、离散数学、计算机导论、数字电路基础、计算机组成原理、C语言程序设计、数据结构等。
            专业课包括计算机网络、计算机体系结构、操作系统、数据库原理及应用、汇编语言、面向对象程序设计、软件工程、服务贸易与技术贸易等。
              专业选修课主要包括电子商务、INTERNET技术及其应用、网站建设、多媒体技术、人工智能、接口技术、信息与网络安全、算法分析与设计、嵌入式系统技术、管理学、国际贸易、商务沟通、软件外包服务、管理信息系统等。学生从开设的选修课程中至少选择10门课程。
            英语技能课程包括综合英语、听说、写作等。本专业的学生可以参加英语专业四级和八级水平测试。
            实践性教学环节：包括社会实践与社会调查、课程设计及实践、专业及毕业实习、毕业设计及论文等。
             <p>附件下载：<a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/培养计划.doc">计算机系培养方案-2012年版</a></p><b></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>（二）培养目标<b></a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse"><b>
            <div class="panel-body">本专业的培养目标是：培养德、智、体、美全面发展，适应社会经济发展需要，系统、全面地掌握计算机硬件、软件与应用的基本理论、基本知识和基本技能与方法，同时具有较高的外语语言基础和应用技能，能把外语、商务与计算机技术很好的结合，能顺应信息技术和经济全球化的飞速发展，具有较高外语水平和熟悉商务规则的国际化计算机专业复合型人才。毕业生能够从事软件外包服务、IT咨询、IT企业的涉外部门、政府部门和大型企业的高级IT管理等工作。<b></div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>（三）学科、学位与学制<b></a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body"><b>
                                      1.主干学科：计算机科学与技术<br >
                                      2.授予学位：工学学士学位<br >
                                      3.学制：四年，修业年限为三至六年<br >
                                      4.课内总学时为2624，核144学分；课外实践环节为16学分；总学分为160学分。<br ><b></div>
          </div>
        </div>
      </div> 
    </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">畅游北外</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">校内网站 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.bfsu.edu.cn/"><mark >北外首页</mark ></a></li>
                <li><a href="jwc.bfsu.edu.cn/"><mark >教务在线</mark ></a></li>
                <li><a href="http://jyzd.bfsu.edu.cn/"><mark >就业指导</mark ></a></li>                        
              </ul>
            </li>
            <li><a href="http://map.bfsu.edu.cn/">虚拟北外</a></li>
            <li><a href="https://cas.bfsu.edu.cn/cas/login?service=http%3A%2F%2Fportal.bfsu.edu.cn%2Fdcp%2Findex.jsp">数字北外</a></li>
            <li><a href="https://webmail.bfsu.edu.cn/">北外邮箱</a></li>
        
          </ul>
        </div>
        <div class="clearfix visible-lg"></div>
      </div>
    </div>

    <div class="container">
<div class="jumbotron">
   <nav class="navbar navbar-inverse navbar-inverse-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">计算机系</a>
    </div>
    <div>
   <ul class="nav navbar-nav">
           <li ><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/12.html#"> 网站首页 </a></li>
            <li ><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/13.html#">院系简介</a></li>
            <li class="active"><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/14.html#"> 培养方案 </a></li>
            <li ><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/15.html#">教师队伍 </a></li>
            <li><a href="#">  学生风采 </a></li>
            <li><a href="#"> IT前沿   </a></li>
            <li><a href="#">  优秀毕业生 </a></li>
            <li><a href="#">   资源下载  </a></li>
      </ul>
    </div>
  </div>
</nav>

<h4 align="center">Beijing foregin studies university||Department of computer science</h4>
<h4 align="center">2015@Designed  By WuZhengPeng  </h4>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>