<!DOCTYPE html>
<html>
  <head>
    <title>留学点评网</title>

    <!-- The information of the website and the valid scale factor -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="留学机构点评团购网站" />
    <meta name="keywords" content="留学点评网 团购留学" />

    <!-- The import of the css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    
    <!-- The import of the javascript -->
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

  </head>

  <body>
  <!-- 登陆注册部分 -->
  <div>
      <ul class="nav navbar-nav navbar-right">
      <li ng-click="register"><span class="glyphicon glyphicon-user"></span> 注册账号</li>|
      <li ng-click="login"><span class="glyphicon glyphicon-log-in"></span> 登录账号</li>|
      <li ng-click="skipToUser"><span class=""></span>个人昵称（连接到主页）</li>|
      <li ng-click="contectUs">
        <span class="">其他功能</span>
        <ul class="">
          <li ng-click="feedback">反馈</li>
          <li ng-click="subscribe">订阅</li>
          <li ng-click="helpUser">帮助</li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- 导航条部分 -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">留学点评网</a>   
      </div>
      <div>
        <ul class="nav navbar-nav">
         <li class="active"><a href=""> 网站首页 </a></li>
          <li ><a href="">星级机构</a></li>
          <li><a href="">团起来</a></li>
          <li ><a href="">同城活动</a></li>
          <li><a href="">学校信息</a></li>
          <li><a href="">我的进度</a></li>
          <li><a href="">讨论专区</a></li>
          <li><a href="">资源下载</a></li>
          </ul>
        </div>
      </div>
  </nav>
  <!-- 搜索框部分 -->
  <div class="">
    <form>
      <input type=“text” placeholder="输入关键字进行搜索" name="searchMainWord">
      <button type="submit">搜索</button>
    </form>
    <div>
      商家名称
    </div>
  </div>
  <!-- 网站主体介绍 -->
  <!-- 标题介绍网站主要功能 -->
  <header>
    <h1>留学点评网</h1>
    <section></section>
  </header>
  <!-- 段落介绍分页功能 -->
  <p>
    <div>
      <ul class="nav navbar-nav">
       <li class="active"><a href=""> 网站首页 </a></li>
        <li >
          <a href="">星级机构</a>
          <section></section>
        </li>
        <li>
          <a href="">团起来</a>
          <section></section>
        </li>
        <li >
          <a href="">同城活动</a>
          <section></section>
        </li>
        <li>
          <a href="">学校信息</a>
          <section></section>
        </li>
        <li>
          <a href="">我的进度</a>
          <section></section>
        </li>
        <li>
          <a href="">讨论专区</a>
          <section></section>
        </li>
        <li>
          <a href="">资源下载</a>
          <section></section>
        </li>
        </ul>
      </div>
  </p>
  <footer>
    联系我们 友情链接
  </footer>
    

  </body>
</html>