a<!DOCTYPE html>
<html lang="cn" ng-app="IndexApp">
  <head>
    <title>Paymentwall</title>

    <!-- The information of the website and the valid scale factor -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Paymentwall" />
    <meta name="keywords" content="Paymentwall" />

    <!-- The import of the css -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
   
    <!-- The import of the javascript -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/js/saindex.js"></script>
  </head>

  <body ng-controller="indexController">
  <a href="#">我的消息</a>
  <a href="#">个人中心</a>
  <a href="/merchant/cooperate">商户中心</a>
  <a href="/user/login/page">登陆</a><em>/</em>
  <a href="/user/signup/page">注册</a>
  <div ng-view>
    
  </div>
<!--     <div class="wrapper">
      <div class="site-nav">
        <div class="container">
          <div class="nav-left">
            <a href="#">我的消息</a>
            <a href="#">个人中心</a>
            <a href="/merchant/cooperate">商户中心</a>
          </div>

          <div class="nav-right">
            <img oncontextmenu="return false" ondragstart="return false" onselectstart="return false"
            onselect="document.selection.empty()" src="images/icon-lock.gif" id="icon-lock">
            <div id="log-reg">
              <a href="/admin">登陆</a><em>/</em>
              <a href="/user/signup/page">注册</a>
            </div>
            <div id="contactus">
              <i class="icon-envelope-alt"></i><a href="#">联系我们</a>
            </div>
          </div>

        </div> 
      </div> 


      <div class="page-header">
        <div class="container">
          <div id="logo">
            <a href="#">Paymentwall</a>
          </div>
          <div id="search-box">
            <input type="text" id="text">
            <button id="button"><em>搜索</em></button>
          </div>
        </div> 
      </div> 

      <div class="shop-nav">
        <div class="container">
          <div id="category">
            <em>所有项目</em>
          </div>
          <div id="shop-nav-items">
            <ul id="nav-items">
              <li id="nav-abroad">
                aaa
              </li>
              <li id="nav-121">
bbb
              </li>
              <li id="ielts">
cccc              
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="match-box">
        <div class="container">
          <div id="selector">
            <div class="selectorLine">
              <div class="sl-parentkey">
                地点：
              </div>
              <div class="sl-subkey">
                <ul>
                  <li>
                    不限
                  </li>
                  <li>
                    北京
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div> -->
  </body>
</html>
