<script src="https://api.paymentwall.com/brick/brick.1.3.js"> </script>
<div id="payment-form-container"> </div>
<script>
  var brick = new Brick({
    public_key: 'c510d6f8f6747aaedbdfaf2782b16638',
    amount: 9.99,
    currency: 'USD',
    container: 'payment-form-container',
    action: '/brick',
    form: {
      merchant: 'Merchant Name',
      product: 'Product Name',
      pay_button: 'Pay'
    }
  });

  brick.showPaymentForm(function(data) {
    // handle success
  }, function(errors) {
    // handle errors
  });
</script>