<!DOCTYPE html>
<html ng-app="merchantLoginApp">
<head>
	<meta charset="utf-8">

	<!-- The import of the javascript -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="/bower_components/angular-md5/angular-md5.js"></script>	
	<script src="/test-fan.js"></script>	
	<script src="/js/MerchantArea/merchantLogin.js"></script>
   
   	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/merchant-form.css">
</head>	

<body ng-controller="merchantLoginController">

	<div ng-if="login_page" class="login-wrap">
		<h1>商户登陆</h1>
		<div class="form-group">
			<label>邮箱：</label>
			<input type="text" class="form-control" ng-model="login.email"/>
		</div>
		
		<div class="form-group">
			<label>密码：</label>
			<input type="password" class="form-control" ng-model="login.password"/>
		</div>
		
		<button class="btn btn-primary" ng-click="login()">登陆</button>
		{{login.message}}
		还没有账号？点击进行注册
		<button class="btn btn-default" ng-click="registerPage()">注册</button>
	</div>

	<div ng-if="register_page">

	  <div  class="login-form" >
		<h1>商户注册</h1>
			<form name="registerForm" role="form"  novalidate>
			
			<div ng-show="register_step===1">	
				<div class="form-group">
					<label>公司名称：</label>
					<input name="name" class="form-control" type="text" ng-model="merchant.name" required >
					<p class="help-block" ng-show="registerForm.name.$error.required && !registerForm.name.$pristine">该项必填</p>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="registerForm.name.$valid"> 对</span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="registerForm.name.$invalid && !registerForm.name.$pristine">x</span>
				</div>

				<div class="form-group">
					<label>公司所在城市：</label>
					<select name="location_city" ng-init = "merchant.location_city=Beijing" required>
						<option value = "Beijing">北京</option>
						<option value = "Shanghai">上海</option>
						<option value = "Tianjin">天津</option>
					</select>
				</div>

				<div class="form-group">
					<label>设置密码：</label>
					<input class="form-control" name="password" type="password" ng-model="merchant.password" ng-minlength=6 required>
					<p class="help-block" ng-show="registerForm.password.$error.required && !registerForm.password.$pristine">该项必填</p>		
					<p class="help-block" ng-show="registerForm.password.$error.minlength && !registerForm.password.$pristine">密码最小长度为6</p>		
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="registerForm.password.$valid && same_password"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="registerForm.password.$invalid && !registerForm.password.$pristine"></span>
				</div>

				<div class="form-group">
					<label>再次输入密码：</label>
					<input class="form-control" name="password_confirmation" type="password" ng-model="merchant.password_confirmation" ng-minlength=6 required>
					<p class="help-block" ng-show="registerForm.password_confirmation.$error.required && !registerForm.password_confirmation.$pristine">该项必填</p>		
					<p class="help-block" ng-show="registerForm.password_confirmation.$error.minlength && !registerForm.password_confirmation.$pristine">密码最小长度为6</p>		
					<p class="help-block" ng-show="!same_password && !registerForm.password_confirmation.$pristine">两次填写密码不一致</p>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="registerForm.password_confirmation.$valid && same_password"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="registerForm.password_confirmation.$invalid && !registerForm.password_confirmation.$pristine"></span>
				</div>
				<button ng-click="register_step=2">下一步</button>
			</div>
			

			<div ng-show="register_step===2">
				<div class="form-group">
					<label>联系人姓名：</label>
					<input name="contact_person_name" class="form-control" type="text" ng-model="merchant.contact_person_name" required >
					<p class="help-block" ng-show="registerForm.contact_person_name.$error.required && !registerForm.contact_person_name.$pristine">该项必填</p>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="registerForm.contact_person_name.$valid"> 对</span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="registerForm.contact_person_name.$invalid && !registerForm.contact_person_name.$pristine">x</span>
				</div>

				<div class="form-group">
					<label>联系人邮件：</label>
					<input name="email" class="form-control" type="email" ng-model="merchant.email" required>
					<p class="help-block" ng-show="registerForm.email.$error.required && !registerForm.email.$pristine">该项必填</p>
					<p class="help-block" ng-show="registerForm.email.$error.email && !registerForm.email.$pristine">不符合email格式</p>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="registerForm.email.$valid">对</span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="registerForm.email.$invalid && !registerForm.email.$pristine">x</span>
				</div>

				<div class="form-group">
					<label>联系人手机号：</label>
					<input name="mobile" class="form-control" type="text" ng-model="merchant.mobile" required >
					<p class="help-block" ng-show="registerForm.mobile.$error.required && !registerForm.mobile.$pristine">该项必填</p>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="registerForm.mobile.$valid"> 对</span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="registerForm.mobile.$invalid && !registerForm.mobile.$pristine">x</span>
				</div>
				<button ng-click="register_step=1">返回上一步</button>
			</div>

			<div>
				<input name="merchantCheck" type="checkbox" ng-model="merchant.regulation" value="true" required>  是否同意用户守则
				<button ng-click="$parent.show_regulation=true" >用户守则</button>
			</div>
	  		<br>
	<!-- 除了ng自带的表单验证外，加上密码验证，才可以注册 -->
	  		<button ng-click ="merchantRegister()" class="btn btn-primary" ng-disabled="registerForm.$invalid || !same_password" >注册</button>
	  		{{register_result}}
		  	</form>

		  	<br>
		  	已经有账号了？点击进行登陆
		  	<button ng-click="loginPage()">登录</button>

	</div>	

</body>

</html>