<!DOCTYPE html>
<html ng-app="merchantIndexApp">

<head>
  <meta charset="utf-8">

  <!-- The import of the javascript -->
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
  <script src="/bower_components/angular-md5/angular-md5.js"></script>
  <script src="/bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
  <script src="/js/MerchantArea/merchantIndex.js"></script>
   
</head> 

<body ng-controller="indexController">


<div ng-view></div>

</body>
</html>