<!DOCTYPE html>
<html ng-app="merchantCooperateApp">
<head>
	<meta charset="utf-8">

	<!-- The import of the javascript -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="/bower_components/angular-md5/angular-md5.js"></script>	
	<script src="/js/MerchantArea/merchantCooperate.js"></script>
   
    <link rel="stylesheet" href="/css/merchant-form.css">
</head>	

<body ng-controller="merchantCooperateController">

	<div ng-if="login_page">
		<input type="text" ng-model="merchant.email"/>邮箱
		<input type="text" ng-model="merchant.password"/>密码
		<button ng-disable="!same_password" ng-click="login()">登陆</button>
		还没有账号？点击进行注册
		<button ng-click="registerPage()">注册</button>
	</div>

	<div ng-if="register_page">

		<input type="text" ng-model="merchant.contact_person_name" />联系人姓名
		<input type="text" ng-model="merchant.password" />密码
		<input type="text" ng-model="merchant.password_confirmation" />密码确认
		<input type="text" ng-model="merchant.name" />公司名称
		<input type="text" ng-model="merchant.email" />联系人邮件
		<button ng-disable="!same_password" ng-click="register()">注册账号</button>
		<br>
		{{register_result}}
		已经有账号了？点击进行登陆
		<button ng-click="loginPage()">注册</button>
	</div>	

</body>

</html>