<!DOCTYPE html>
<html>
<head>
	<script src="angular.min.js"></script>
	<script src="signupController.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="signup-form.css">
</head>	

<body>

<div ng-app="">

  <div ng-controller="formController" class="login-form">
	<h1>用户注册</h1>
		<form name="loginForm" role="form" ng-submit="register()" novalidate>
			
		<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine, 
		'has-success' : loginForm.name.$valid }">
			<label>用户姓名：</label>
			<input name="name" class="form-control" type="text" ng-model="person.name" ng-minlength=5 required >
			<p class="help-block" ng-show="loginForm.name.$error.required && !loginForm.name.$pristine">该项必填</p>
			<p class="help-block" ng-show="loginForm.name.$error.minlength && !loginForm.name.$pristine">姓名最小长度为5</p>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.name.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.name.$invalid && !loginForm.name.$pristine"></span>
		</div>


		<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine,
		'has-success' : loginForm.email.$valid }">
			<label>邮箱地址：</label>
			<input name="email" class="form-control" type="email" ng-model="person.email" required>
			<p class="help-block" ng-show="loginForm.email.$error.required && !loginForm.email.$pristine">该项必填</p>
			<p class="help-block" ng-show="loginForm.email.$error.email && !loginForm.email.$pristine">不符合email格式</p>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.email.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.email.$invalid && !loginForm.email.$pristine"></span>
		</div>


		<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.pswd1.$invalid && !loginForm.pswd1.$pristine,
		'has-success' : samePswd }">
			<label>设置密码：</label>
			<input class="form-control" name="pswd1" type="password" ng-model="person.pswd1" ng-minlength=6 required>
			<p class="help-block" ng-show="loginForm.pswd1.$error.required && !loginForm.pswd1.$pristine">该项必填</p>		
			<p class="help-block" ng-show="loginForm.pswd1.$error.minlength && !loginForm.pswd1.$pristine">密码最小长度为6</p>		
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.pswd1.$valid && samePswd"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.pswd1.$invalid && !loginForm.pswd1.$pristine"></span>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : (loginForm.pswd2.$invalid || !samePswd) && !loginForm.pswd2.$pristine,
		'has-success' : samePswd }">
			<label>再次输入密码：</label>
			<input class="form-control" name="pswd2" type="password" ng-model="person.pswd2" ng-minlength=6 required>
			<p class="help-block" ng-show="loginForm.pswd2.$error.required && !loginForm.pswd2.$pristine">该项必填</p>		
			<p class="help-block" ng-show="loginForm.pswd2.$error.minlength && !loginForm.pswd2.$pristine">密码最小长度为6</p>		
			<p class="help-block" ng-show="!samePswd && !loginForm.pswd2.$pristine">两次填写密码不一致</p>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.pswd2.$valid && samePswd"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.pswd2.$invalid && !loginForm.pswd2.$pristine"></span>
		</div>

		<div>
			<input name="personCheck" type="checkbox" ng-model="person.check" required>  是否同意用户守则
		</div>
		
		<div>
  			<input name="personCheck" type="checkbox" ng-model="person.check" required>  是否同意用户守则
  		</div>
  		<br>
<!-- 			除了ng自带的表单验证外，加上密码验证，才可以注册 -->
  		<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid || !samePswd" >注册</button>
 
		</form>

		 

   </div>
  
</div>



</body>
</html>

