.main-content {
	padding-top: 23px;
}

.main-content p {
	 margin: 0;
}

.main-content a {
	text-decoration: none;
}

.star-teacher a {
	text-decoration: none;
	color: gray;
}

.main-content li {
	list-style-type: none;
}

.star-teacher .panel {
	margin-bottom: 10px;
	background-color: white;
	border: none;
}

.main-content .panel-body {
	padding: 8px;
}

.main-content img {
	height: 80px;
	width: 80px;
}

.main-content .teacher-heading {
	padding: 10px 8px;
}

.teacher-heading {
	font-size: 15px;
}

.main-content .teacher-info {
	font-size: 12px;
}

/*begin "top-ins" css*/
.top-ins img {
	height: 70px;
	width: 70px;
}

.top-ins a {
	color: white;
}

.top-ins .ins-info {
	text-align: left;
	font-size: 12px;
}

.ins-info > * {
	padding-left: 27px;
}

/*.top-ins span[class*="glyphicon"] {
	padding-right: 2px;
}*/


/*begin "promote-ins" css*/
.promote-ins .panel {
	background-color: white;
	border: none;
	padding: 6px;
}

.promote-ins .promote-heading {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.promote-ins .ins-info p {
	text-align: left;
	padding-left: 10px;
	font-size: 13px;
}