#selector {
	float: left;
	border-width: 1px;
	border-color: #ddd;
	border-style: solid;
	padding: 16px 20px 8px 20px;
	margin: 10px 0 0 20px;
	font-family: Arial,宋体;
	width: 100%;
}
.selectorLine {
	width: 100%;
	float: left;
	margin-bottom: 12px;
}
.half-selectorLine {
	width: 50%;
	float: left;
	margin-bottom: 12px;
}
.selectorLine .sl-parentkey {
	color: #888;
	font-size: 14px;
	float: left;
	width: 12%;
	padding-top: 4px;
}
.half-selectorLine .sl-parentkey {
	color: #888;
	font-size: 14px;
	float: left;
	width: 24%;
	padding-top: 4px;
}
@media (max-width: 1200px) {
	.selectorLine .sl-parentkey {
	width: 15%;
	}
	.half-selectorLine .sl-parentkey {
	width: 30%;
	}
}
.sl-subkey {
	color: #444;
	font-size: 14px;
	float: left;
}
.sl-subkey ul li {
	margin: 0 0 0 40px;
	float: left;
	padding: 4px 6px;
}
.sl-subkey ul .selected {
	background-color: #46a7ba;
	border-radius: 2px;
	color: #fff;
}
.sl-addkey {
	color: #46a7ba;
	font-size: 14px;
	float: right;
}
.sl-addkey ul li {
	margin: 0 0 0 40px;
	font-family: "Microsoft YaHei";
	float: left;
}
