#logo {
	float: left;
	margin:  0 100px 0 0;
}
#logo a {
	display: block;
	margin: 20px 0 0 0px;
	background: url(../images/logo.gif) no-repeat;
	text-indent: -3000px;
	width: 168px;
	height: 90px;
}
#search-box {
	float: left;
	width: 60%;
	margin: 50px 0 0 0;
}
#search-box #button {
	float: left;
	width: 20%;
	height: 34px;
	border: none;
	background: #46a7ba;
}
@media (min-width: 768px) {
	#search-box{
		width: 60%;
		margin: 50px 0 0 0;
	}
}
@media (min-width: 992px) {
	#search-box{
		width: 60%;
		margin: 50px 0 0 30px;
	}
}
@media (min-width: 1200px) {
	#search-box{
		width: 70%;
		margin: 50px 0 0 50px;
	}
	#search-box #button {
	float: left;
	width: 100px;
	height: 34px;
	border: none;
	background: #46a7ba;
	}
}
#search-box #text {
	float: left;
	border-width: 2px 0 2px 2px;
	border-style: solid;
	border-color: #46a7ba;
	width: 80%;
	height: 34px;
	padding: 4px;
	font-size: 15px;
}
#search-box #button em {
	color: #fff;
	line-height: 1;
	font-size: 16px;
	font-family: "Microsoft YaHei"
}