
.site-nav {
	background-color: #f1f1f1;	
	height: 45px;
}
.stie-nav .nav-left {
	float: left;
}
.site-nav .nav-right {
	float: right;
}
.site-nav a,.site-nav em,.site-nav img,.site-nav i {
	display: block;
	float: left;
}
.site-nav a, .site-nav em {
	text-decoration: none;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.site-nav .nav-left a {
	color: #666666;
	margin: 14px 30px 0 0;
}
#log-reg {
	margin: 12px 0 0 0;
	padding-left: 18px;
	float: left;
	background: url(../images/icon-lock.gif) no-repeat center left;
}
#log-reg a, #log-reg em {
	margin: 2px 0 0 0;
	color: #6699cc;
}
#contactus {
	float: left;
	padding: 0 0px;
	margin: 0 0 0 10px;
	width: 100px;
	height: 45px;
	background: url(../images/contactus-bg.gif) no-repeat center;
}
#contactus a, #contactus i {
	color: #fff;
}
#contactus a {
	font-size: 14px;
	margin: 14px 5px 0 6px;
}
#contactus i {
	margin: 15px 0 0 12px;
}