
.site-nav {
	background-color: #eee;	
	height: 35px;
}

.site-nav .container {
	height: inherit;
}

.site-nav a {
	width: 42px;
	color: black;
	text-decoration: none;
}


.site-nav .container div {
	height: inherit;
}

.site-nav .left li {
	float: left;
}

.site-nav .right li {
	float: right;
}