body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
margin: 0;
padding: 0;
}

a{
  text-decoration: none;
}

i, em {
font-style: normal;
}

ul,li {
  list-style: none;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    width: 992px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
.wrapper {
  position: relative;
  min-height: 100%;
  display: block;
  table-layout: fixed;
  margin: 0 auto;
  padding: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container:after,
.row:after {
  clear: both;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: " ";
}
