.main-nav {
	height: 36px;
	background-color: #ea7a64;
}

.main-nav .container {
	height: inherit;
	padding-left: 15%;
}

.main-nav .inner-main-nav {
	height: inherit;
}

.main-nav a {
	color : white;
	width: 105px;
	text-decoration: none;
}

.main-nav a:hover {
	background-color : #ff8400;
}