<div class="col-md-10">
	<div class="x-row">
		<div class="col-md-12">
			<div class="col-md-12">
				<div class="ta fv fc1">
					<a href="#">TA关注</a>
					<a href="#" class="active">关注TA</a>
				</div>
			</div>
			<div class="col-md-12">
				<div class="cside radius">
					<div class="x-row">
						<div class="col-md-3">
							<div class="fv fc1">
								<img class="u-logo" src="../../images/u-logo_03.png" alt="" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="u-info fh fc1">
								<div>吴尊</div>
								<div><span>男</span><span> · </span><span>马来西亚</span></div>
								<div>学习过“新东方教育公司”课程；“亚历山大学院”课程</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="fv f-end">
								<img class="f-logo" src="../../images/icon-home_03.png"/>
								<div class=""><a href="#">进入他的主页</a></div>
							</div>
							<div class="fv f-end">
								<a href="#" class="cancel">取消关注</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>