<!DOCTYPE html>
<html ng-app="SignUpAPP">
<head>

	<!-- The information of the website and the valid scale factor -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="留学机构点评团购网站" />
	<meta name="keywords" content="留学点评网 团购留学" />

	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/signup-form.css">
	
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="/bower_components/angular-strap/dist/modules/modal.min.js"></script>
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/signUp.js"></script>

</head>	

<body ng-controller="SignUpController">

<div >

  <div  class="login-form">
	<h1>用户注册</h1>
		<form name="loginForm" role="form" ng-submit="register()" novalidate>
			
		<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.name.$invalid && !loginForm.name.$pristine, 
		'has-success' : loginForm.name.$valid }">
			<label>用户姓名：</label>
			<input name="name" class="form-control" type="text" ng-model="person.name" ng-minlength=5 required >
			<p class="help-block" ng-show="loginForm.name.$error.required && !loginForm.name.$pristine">该项必填</p>
			<p class="help-block" ng-show="loginForm.name.$error.minlength && !loginForm.name.$pristine">姓名最小长度为5</p>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.name.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.name.$invalid && !loginForm.name.$pristine"></span>
		</div>


		<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine,
		'has-success' : loginForm.email.$valid }">
			<label>邮箱地址：</label>
			<input name="email" class="form-control" type="email" ng-model="person.email" required>
			<p class="help-block" ng-show="loginForm.email.$error.required && !loginForm.email.$pristine">该项必填</p>
			<p class="help-block" ng-show="loginForm.email.$error.email && !loginForm.email.$pristine">不符合email格式</p>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.email.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.email.$invalid && !loginForm.email.$pristine"></span>
		</div>


		<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine,
		'has-success' : same_password }">
			<label>设置密码：</label>
			<input class="form-control" name="password" type="password" ng-model="person.password" ng-minlength=6 required>
			<p class="help-block" ng-show="loginForm.password.$error.required && !loginForm.password.$pristine">该项必填</p>		
			<p class="help-block" ng-show="loginForm.password.$error.minlength && !loginForm.password.$pristine">密码最小长度为6</p>		
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.password.$valid && same_password"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine"></span>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error' : (loginForm.password_confirmation.$invalid || !same_password) && !loginForm.password_confirmation.$pristine,
		'has-success' : same_password }">
			<label>再次输入密码：</label>
			<input class="form-control" name="password_confirmation" type="password" ng-model="person.password_confirmation" ng-minlength=6 required>
			<p class="help-block" ng-show="loginForm.password_confirmation.$error.required && !loginForm.password_confirmation.$pristine">该项必填</p>		
			<p class="help-block" ng-show="loginForm.password_confirmation.$error.minlength && !loginForm.password_confirmation.$pristine">密码最小长度为6</p>		
			<p class="help-block" ng-show="!same_password && !loginForm.password_confirmation.$pristine">两次填写密码不一致</p>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.password_confirmation.$valid && same_password"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.password_confirmation.$invalid && !loginForm.password_confirmation.$pristine"></span>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-success' : (loginForm.userid.$invalid && !loginForm.userid.$pristine)||(!{{useridValid}} && !loginForm.userid.$pristine), 
		'has-success' : loginForm.userid.$valid&&{{useridValid}}}">
			<label>身份证号：</label>
			<input name="userid" class="form-control" type="text" ng-model="person.userid" required >
			<p class="help-block" ng-show="loginForm.userid.$error.required && !loginForm.userid.$pristine">该项必填</p>
			<p class="help-block" ng-show="{{useridValid}} && !loginForm.userid.$pristine">不符合身份证格式</p>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="loginForm.userid.$valid"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="loginForm.userid.$invalid && !loginForm.userid.$pristine&&{{useridValid}}"></span>
		</div>

		<div>
			<input name="personCheck" type="checkbox" ng-model="person.check" required>  是否同意用户守则
		</div>
		
		<div>
  			我是<input type="radio" ng-model="identification" value = "user">个人<input type="radio" ng-model="identification" value = "merchant">商户  
  		</div>
  		<br>
<!-- 			除了ng自带的表单验证外，加上密码验证，才可以注册 -->
  		<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid || !same_password||{{useridValid}}" >注册</button>
 
		</form>

		 

   </div>
  
</div>



</body>
</html>

