<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <form class="form-search">
        <input class="input-medium search-query" type="text" /> <button type="submit" class="btn">查找</button>
      </form>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#">首页</a>
        </li>
        <li>
          <a href="#">资料</a>
        </li>
        <li class="disabled">
          <a href="#">信息</a>
        </li>
        <li class="dropdown pull-right">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">操作</a>
            </li>
            <li>
              <a href="#">设置栏目</a>
            </li>
            <li>
              <a href="#">更多设置</a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a href="#">分割线</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav nav-list">
        <li class="nav-header">
          列表标题
        </li>
        <li class="active">
          <a href="#">首页</a>
        </li>
        <li>
          <a href="#">库</a>
        </li>
        <li>
          <a href="#">应用</a>
        </li>
        <li class="nav-header">
          功能列表
        </li>
        <li>
          <a href="#">资料</a>
        </li>
        <li>
          <a href="#">设置</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#">帮助</a>
        </li>
      </ul>
      <div class="row-fluid">
        <div class="span2">
          <img alt="140x140" src="img/a.jpg" /><img alt="140x140" src="img/a.jpg" />
        </div>
        <div class="span6">
          <img alt="140x140" src="img/a.jpg" />
        </div>
        <div class="span4">
        </div>
      </div><img alt="140x140" src="img/a.jpg" /><img alt="140x140" src="img/a.jpg" />
      <div class="hero-unit">
        <p>
          一种风，只流浪在一座山谷；
        </p>
        <p>
          一道堤，只护住一湾星河。
        </p>
        <p>
          每次仰望星空，我总是闭上眼，
        </p>
        <p>
          因为最美的一颗不在天上。
        </p>
      </div>
    </div>
  </div>
</div>


<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">DCS of BFSU</a> 
           
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/12.html#"> 网站首页 </a></li>
            <li class="active"><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/13.html#">院系简介</a></li>
            <li><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/14.html#"> 培养方案 </a></li>
            <li><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/15.html#"> 教师队伍 </a></li>
            <li><a href="#">  学生风采 </a></li>
            <li><a href="#"> IT前沿   </a></li>
            <li><a href="#">  优秀毕业生 </a></li>
            <li><a href="#">   资源下载  </a></li>

          </ul>
             <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册账号</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录账号</a></li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="container">
      <div class="jumbotron">
         <img src="file:///C:/Users/Administrator/Desktop/12.jpg#" class="img-thumbnail" align="right" alt="dcs -2" width="450" height="220"> 
        <h2><b >北京外国语大学计算机系<b ></h2>  
       
        <h4>Department of computer science||Beijing foreign studies university</h4>      
      <a href="#" class="btn btn-info btn-lg";"right "><span class="glyphicon glyphicon-search"></span> Search</a>

      </div>
      

      <div class="jumbotron">
        <div class="col-md-9">
          
          <h2>院系简介:</h2>
          <h4> <b >
            计算机系成立于2009年，其前身是1990年成立的北京外国语大学计算机中心，历经筹备阶段、初始阶段、正规教学阶段、深入教学改革阶段和专业学生培养阶段。北外自1986年开始筹备计算机教学工作，筹备工作由学校领导与人事处共同领导，1987年6月有了计算机机房，挂靠在学校的科研研究生处。教学对象是在校的研究生。1990年开始逐步在本科生中开展了计算机教学，学生学习此课的学时最初为每学期32。1993年年北外建立了3个微机机房，60台PC-486，教学对象为全校的本科生和研究生；1997年计算机中心挂靠在教务处；2001年5月，计算机中心独立建制，始深入教学改革阶段；2009年9月，改称计算机系，正式开始专业本科生的培养工作。
            2001年5月经校长办公会议定为独立建制部门，直属于学校领导，并于1993年参加了全国计算机基础教育研究会，是其会员单位之一，也是二级学会，即全国计算机基础教育研究会文科分会、北京计算机基础教育研究会会员单位之一。十几年来，积极参加全国计算机基础教育研究会的各项教学活动，并结合学校的计算机教学，努力搞好学校的计算机专业教学和公共课教学工作。

             现有师资状况：

             计算机系共12名教师，其中副教授7名，讲师4名
           <b >
          </h4>

        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">畅游北外</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">校内网站 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.bfsu.edu.cn/"><mark >北外首页</mark ></a></li>
                <li><a href="jwc.bfsu.edu.cn/"><mark >教务在线</mark ></a></li>
                <li><a href="http://jyzd.bfsu.edu.cn/"><mark >就业指导</mark ></a></li>                        
              </ul>
            </li>
            <li><a href="http://map.bfsu.edu.cn/">虚拟北外</a></li>
            <li><a href="https://cas.bfsu.edu.cn/cas/login?service=http%3A%2F%2Fportal.bfsu.edu.cn%2Fdcp%2Findex.jsp">数字北外</a></li>
            <li><a href="https://webmail.bfsu.edu.cn/">北外邮箱</a></li>
        
          </ul>
        </div>
        <div class="clearfix visible-lg"></div>
      </div>
    </div>
    
<div class="container">
<div class="jumbotron">
   <nav class="navbar navbar-inverse navbar-inverse-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">计算机系</a>
    </div>
    <div>
   <ul class="nav navbar-nav">
           <li><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/12.html#"> 网站首页 </a></li>
            <li class="active"><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/13.html#">院系简介</a></li>
            <li><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/14.html#"> 培养方案 </a></li>
            <li ><a href="file:///C:/Users/Administrator/Desktop/计算机系网页新/15.html#">教师队伍 </a></li>
            <li><a href="#">  学生风采 </a></li>
            <li><a href="#"> IT前沿   </a></li>
            <li><a href="#">  优秀毕业生 </a></li>
            <li><a href="#">   资源下载  </a></li>
      </ul>
    </div>
  </div>
</nav>
<h4 align="center">Beijing foregin studies university||Department of computer science</h4>
<h4 align="center">2015@Designed  By WuZhengPeng  </h4>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>