<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Studying Abroad</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<body>

	<div class="site-nav">
		<div class="container">

 			<div class="pull-left table-container">
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 			</div>

 			<div class="pull-right table-container">
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 			</div>

 		</div> <!-- end of class="row" -->

		</div>
	</div> <!-- end of "site-nav" -->



	<div class="page-header" id="page-header">
		<div class="container">

		<a href="#" class="leftll">
			<img src="images/wel.jpg" class="img-circle" alt="comp">
			<a href="#" class="city">
				place
			</a>
		</a>
		<div class="search-box">
			<div class="search-bar">
			<input type="text" class="search-input" />
			<a href="#" class="search-button">Go</>
			</div>
		</div>

		</div> <!-- end of "container" -->
	</div>





	<div class="container">
		<div class="jumbotron">
			<a href="#" >
				<div style="display: inline-block;">
				<img src="images/wel.jpg" class="img-thumbnail" alt="Company">
				<h2>LOGO</h2>
				</div>
			</a>
			<div class="row" style="padding-top: 40px">
				<div class="col-sm-9 bottomLine">
					<!-- displaying companies 
					loop the list of companies
					-->
					<a href="#" target="_blank">
						<div class="col-sm-2">
							<img src="images/wel.jpg" class="img-thumbnail" alt="Company">
						</div>
						<div class="col-sm-2 ">
							<p>jinjilie</p>
							<p>AAAAA</p>
							<p>AA</p>
						</div>
					</a>	

					<a href="#" target="_blank">
						<div class="col-sm-2">
							<img src="images/wel.jpg" class="img-thumbnail" alt="Company">
						</div>
						<div class="col-sm-2 ">
							<p>jinjilie</p>
							<p>AAAAA</p>
							<p>AA</p>
						</div>
					</a>	

					<a href="#" target="_blank">
						<div class="col-sm-2">
							<img src="images/wel.jpg" class="img-thumbnail" alt="Company">
						</div>
						<div class="col-sm-2 ">
							<p>jinjilie</p>
							<p>AAAAA</p>
							<p>AA</p>
						</div>
					</a>	

					<!-- break the line -->
				</div>

				<div class="col-sm-3 leftLine">
					<!-- displaying tuangou -->
					<button>yekkk</button>
					<button>yekkk</button>
					<button>yekkk</button>
					<button>yekkk</button>
					<button>yekkk</button>
					<button>yekkk</button>
				</div>
			</div>
		</div>
	</div>

	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
