<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Studying Abroad</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<body>

	<div class="site-nav">
		<div class="container">

 			<div class="pull-left table-container">
 				<a href="#">用户名</a>
 				<a href="#">消息</a>
 				<a href="#">个人中心</a>
 			</div>

 			<div class="pull-right table-container">
 				<a href="#">反馈</a>
 				<a href="#">合作入口</a>
 				<a href="#">登陆</a>
 				<a href="#">注册</a>
 			</div>

		</div> <!-- end of "container" -->
	</div> <!-- end of "site-nav" -->



	<div class="page-header">
		<div class="container">
			<div class="row">

				<div class="col-md-1 col-md-offset-1">
					<a href="#">
						<img src="new.jpg" alt="wel" class="img-circle" />
					</a>
				</div>

				<div class="col-md-2" style="width: 12%">
					<div class="place table-container">
						北京<a href="#">&#9660</a>
					</div>
				</div>

				<div class="col-md-7">
					<div class="search-box">
						<div class="search-input pull-left table-container">
							<div><input type="text" placeholder="搜索机构或地区团购" /></div>
						</div>
						<!-- <input type="text" /> -->
						<a href="#" class="search-button table-container pull-right"><p style="color: white">Go</p></a>
					</div>

					<div class="hot-key">
						<a href="#">一对一</a>
						<a href="#">雅思培训</a>
						<a href="#">留学</a>
					</div>
				</div>


			</div>
			
		</div> <!-- end of "container" -->
	</div> <!-- end of "page-header" -->


	<div class="main-nav">
		<div class="container">	
			<div class="inner-main-nav table-container pull-left">
				<a href="#">留学点评</a>
				<a href="#">团起来</a>
				<a href="#">学校点评</a>
				<a href="#">同城活动</a>
				<a href="#">热门资源下载</a>
				<a href="#">导航</a>
			</div>
		</div> <!-- end of "container" -->
	</div> <!-- end of "main-nav" -->


	<div class="main-content">
		<div class="container">
			<div class="row">

				<div class="col-md-2">
					<div class="star-teacher gray-border">
						<div class="teacher-heading">
							<p class="pull-left"><strong>star teacher</strong></p>
							<a href="#" class="pull-right">more</a>
						</div>
						<ul class="list-group">
							<li>
								<div class="panel panel-default">
									<div class="panel-body table-container">
										<div class="teacher-pic pull-left">
											<a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
										</div>
										<div class="teacher-info">
											<p><strong>Micheal</strong></p>
											<p>TOEFL</p>
											<p>no.1 sb this month</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="panel panel-default">
									<div class="panel-body table-container">
										<div class="teacher-pic pull-left">
											<a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
										</div>
										<div class="teacher-info">
											<p><strong>Micheal</strong></p>
											<p>TOEFL</p>
											<p>no.1 sb this month</p>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="panel panel-default">
									<div class="panel-body table-container">
										<div class="teacher-pic pull-left">
											<a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
										</div>
										<div class="teacher-info">
											<p><strong>Micheal</strong></p>
											<p>TOEFL</p>
											<p>no.1 sb this month</p>
										</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>

				<div class="col-md-8">
					<div class="top-ins">
						<ul class="list-group">
							<li>
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a href="#">No 1 Institute</a>
									</div>
									<div class="panel-body table-container">
										<div class="ins-pic">
											<a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
										</div>

										<div class="ins-info table-container">
											<div class="star">
												<p>综合星级</p>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
											</div>

											<div class="impression">
												<p>印象</p>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star-empty"></span>
											</div>

											<div class="tuan-number">
												<p>已团人数</p>
												<p>119</p>
											</div>

											<div class="has-tuan">
												<a href="#"><button class="btn btn-primary">团购</button></a>
											</div>
										</div>
									</div>
								</div>
							</li>


							<li>
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a href="#">No 1 Institute</a>
									</div>
									<div class="panel-body table-container">
										<div class="ins-pic">
											<a href="#"><img src="new.jpg" class="img-circle" alt="new"></a>
										</div>

										<div class="ins-info table-container">
											<div class="star">
												<p>综合星级</p>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
											</div>

											<div class="impression">
												<p>印象</p>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star-empty"></span>
											</div>

											<div class="tuan-number">
												<p>已团人数</p>
												<p>119</p>
											</div>

											<div class="has-tuan">
												<a href="#"><button class="btn btn-primary">团购</button></a>
											</div>
										</div>
									</div>
								</div>
							</li>

							<li>
								<div class="panel panel-primary">
									<div class="panel-heading">
										<a href="#">No 1 Institute</a>
									</div>
									<div class="panel-body table-container">
										<div class="ins-pic">
											<a href="#"><img src="new.jpg" class="img-rounded" alt="wel"></a>
										</div>

										<div class="ins-info table-container">
											<div class="star">
												<p>综合星级</p>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
											</div>

											<div class="impression">
												<p>印象</p>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star-empty"></span>
											</div>

											<div class="tuan-number">
												<p>已团人数</p>
												<p>119</p>
											</div>

											<div class="has-tuan">
												<a href="#"><button class="btn btn-primary">团购</button></a>
											</div>
										</div>
									</div>
								</div>
							</li>


							<li>
								<div class="panel panel-primary">
									<div class="panel-heading" style="text-align: center">
										<a href="#">more</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-md-2">
					<div class="promote-ins gray-border">

						<div class="promote-heading">
							<p><strong>promote</strong></p>
						</div>

						<ul class="list-group">
							<li>
								<div class="panel panel-default table-container">
									<div class="ins-pic">
										<a href="#"><img src="new.jpg" class="img-rounded" alt="new"></a>
									</div>

									<div class="ins-info">
										<p>XXXX 公司</p>
										<p>最低价：111</p>
										<p>擅长领域：文书</p>
									</div>
								</div>
							</li>
							<li>
								<div class="panel panel-default table-container">
									<div class="ins-pic">
										<a href="#"><img src="new.jpg" class="img-rounded" alt="new"></a>
									</div>

									<div class="ins-info">
										<p>XXXX 公司</p>
										<p>最低价：111</p>
										<p>擅长领域：文书</p>
									</div>
								</div>
							</li>
							<li>
								<div class="panel panel-default table-container">
									<div class="ins-pic">
										<a href="#"><img src="new.jpg" class="img-rounded" alt="new"></a>
									</div>

									<div class="ins-info">
										<p>XXXX 公司</p>
										<p>最低价：111</p>
										<p>擅长领域：文书</p>
									</div>
								</div>
							</li>

							<li style="text-align: center">
								<a href="#">more</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div> <!-- end of "container" -->
	</div> <!-- end of "main-content" -->

	<div class="container">
		<hr>
		<div class="footer" style="text-align: center">
			XX COMPANY @2015
			<br>
			<br>
		</div>
	</div>	

	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
