<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Studying Abroad</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<body>

	<div class="site-nav">
		<div class="container">

 			<div class="pull-left table-container">
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 			</div>

 			<div class="pull-right table-container">
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 				<a href="#">login</a>
 			</div>

		</div> <!-- end of "container" -->
	</div> <!-- end of "site-nav" -->



	<div class="page-header">
		<div class="container">
			<div class="row">

				<div class="col-md-1 col-md-offset-1">
					<a href="#">
						<img src="new.jpg" alt="wel" class="img-circle" />
					</a>
				</div>

				<div class="col-md-2" style="width: 12%">
					<div class="place table-container">
						北京<a href="#">&#9660</a>
					</div>
				</div>

				<div class="col-md-7">
					<div class="search-box">
						<div class="search-input pull-left table-container">
							<div><input type="text" placeholder="holder" /></div>
						</div>
						<!-- <input type="text" /> -->
						<a href="#" class="search-button table-container pull-right"><p>Go</p></a>
					</div>

					<div class="hot-key">
						<a href="#">key</a>
						<a href="#">key</a>
						<a href="#">key</a>
						<a href="#">key</a>
					</div>
				</div>


			</div>
			
		</div> <!-- end of "container" -->
	</div> <!-- end of "page-header" -->


	<div class="main-nav">
		<div class="container">	
			<div class="inner-main-nav table-container pull-left">
				<a href="#">lkjal</a>
				<a href="#">lkjal</a>
				<a href="#">lkjal</a>
				<a href="#">lkjal</a>
				<a href="#">lkjal</a>
			</div>
		</div> <!-- end of "container" -->
	</div> <!-- end of "main-nav" -->


	

	<script src="../bower_components/jquery/dist/jquery.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
