<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- The import of the javascript -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="/js/AdminArea/merchantProfileController.js"></script>
   
    <link rel="stylesheet" href="/css/merchant-form.css">
</head>	



<body ng-app="MerchantProfileAdminApp">



</body>
</html>