<div class="admin-index-child">



	<input type="text" ng-model = "merchant.name" />商户名称 <br>
	<input type="text" ng-model = "merchant.email" />商户邮箱 <br>
	<input type="text" ng-model = "merchant.password" />商户登陆密码 <br>
	<input type="text" ng-model = "merchant.contact_person" />联系人姓名 <br>
	<input type="text" ng-model = "merchant.mobile" />联系人电话 <br>
	<input type="text" ng-model = "merchant.website" />商户官网 <br>
	<select ng-change = "reputationSelect(merchant.willing_to_cooperate)" ng-model = "merchant.willing_to_cooperate" ng-init = "merchant.willing_to_cooperate=true">
		<option value = "true">可以合作</option>
		<option value = "false">不想合作</option>
	</select>
	此商户是否可以合作 <br>
	<select  ng-model = "merchant.follow_up_people"  ng-init = "Nobody">
		<option value = "Nobody">无人跟进</option>
		<option value = "{{admin.admin.name}}" ng-repeat = "admin in all_admins">{{admin.admin.name}}</option>
	</select>
	由谁负责跟进 <br>
	<select  ng-model = "merchant.hierarchy" ng-init = "merchant.hierarchy=2">
		<option value = 1>VIP商户</option>
		<option value = 2>普通</option>
		<option value = 3>不重要</option>
	</select>商户重要性 <br>

	<br>
	
	<button ng-click="addMerchantDetails()">添加商户详细信息</button>	<button ng-click="addNewMerchant()">确定添加商户</button><br>

	<div>
		<input type="text" ng-model = "merchant.owner_name" />商户CEO或主要负责人姓名 <br>
		<button ng-click = "addedNewContactMethod()">增加一个联系方式</button>
		<div ng-repeat = "area in merchant.support_area">
			<input type="text" ng-model = "merchant.support_area[$index]" />
		</div><br>
	</div>


</div>