<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- The import of the javascript -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="/js/AdminArea/merchantProfileController.js"></script>
   
    <link rel="stylesheet" href="../css/merchant-form.css">
</head>	



<body ng-app="MerchantProfileAdminApp">

<!-- 	<div  ng-controller="MerchantProfileController" class="merchant-form">
		<div ng-repeat = "logo in logos">
			{{logo.merchant_name}}
			<img ng-src = "{{logo.logo}}"/>
		</div>
 -->
		<button ng-click="showAddArea()">添加商户</button>
		<button ng-click="showFindArea()">查找商户</button>
		<button ng-click="addedNewWebsite()">添加网站</button>



		
		<div ng-if = "new_merchant">
			<input type="text" ng-model = "merchant.name" />商户名称
			<input type="text" ng-model = "merchant.email" />商户邮箱
			<input type="text" ng-model = "merchant.contact_person" />联系人姓名
			<input type="text" ng-model = "merchant.website" />商户官网
			<input type="text" ng-model = "merchant.location" />商户公司地址
			<input type="text" ng-model = "merchant.score.pass_rate" />申请通过率
			<input type="text" ng-model = "merchant.score.article_score" />文书评分
			<input type="text" ng-model = "merchant.score.total_score" />综合评分
			<br>
			
			<button ng-click = "addedNewArea()">增加一个地区</button>
			<div ng-repeat = "area in merchant.support_area">
				<input type="text" ng-model = "merchant.support_area[$index]" />
			</div><br>
			
			<button ng-click="addNewMerchant()">确定添加商户</button><br>
		</div>

		<div ng-if = "find_merchant">
				<input type="text" ng-model = "finded_merchant.merchant_name" />商户名称
				<input type="text" ng-model = "finded_merchant.email" />商户邮箱

				<button ng-click = "findMerchant()">搜索</button>

				<!-- 例子  -->
				{{finded_merchant.merchant_id}} 商户id
				{{finded_merchant.contact_person_name}}联系人姓名 
				{{finded_merchant.website}}商户官网
				{{finded_merchant.location}}商户公司地址
				{{finded_merchant.score.pass_rate}}申请通过率
				{{finded_merchant.score.article_score}}文书评分
				{{finded_merchant.score.total_score}}综合评分
		</div>
		<div ng-if = "showProfile">
			<div ng-repeat = "file in merchant.identification" >
				<label>{{file.name}}: </label>

				<div nv-file-drop="" uploader="uploader" options="{ url: '{{file.url}}'}">
				    拖动上传文件到这里
				</div>

				<input type="file" nv-file-select="" uploader="uploader" options="{ url: '{{file.url}}'}">	
				
			</div>
		</div>
	</div>

</body>
</html>