<div class="admin-index-child">




  <table class="">
      <tr>
           <th>商户ID</th>
           <th>商户名称</th>
           <th>商户邮箱</th>
           <th>联系人姓名</th>
           <th>联系电话</th>
           <th>商户官网</th>
           <th>商户城市</th>
        </tr>

        <tr >
          <td><input type="text" ng-model = "merchant.id" /></td>  
          <td><input type="text" ng-model = "merchant.name" /></td> 
          <td><input type="text" ng-model = "merchant.email" /></td> 
          <td><input type="text" ng-model = "merchant.contact_person" /></td> 
          <td><input type="text" ng-model = "merchant.mobile" /></td> 
          <td><input type="text" ng-model = "merchant.website" /></td> 
          <td>      
            <select name="location_city" ng-model="merchant.location_city">
            <option value = "Beijing">北京</option>
            <option value = "Shanghai">上海</option>
            <option value = "Tianjin">天津</option>
            </select>
          </td> 
          <td><button ng-click = "findMerchant()">搜索</button>
        </tr>
  </table>


	<table class="" >
	    <tr>
           <th>商户ID</th>
           <th>商户名称</th>
           <th>商户邮箱</th>
           <th>联系电话</th>
           <th>商户官网</th>
           <th>商户城市</th>
        </tr>

        <tr ng-repeat = "profile in merchants" ng-if = "!search_merchant_list_show">
            <td ng-bind="profile.merchant.id"></td>
            <td ng-bind="profile.merchant.name"></td>
            <td ng-bind="profile.merchant.email"></td>
            <td ng-bind="profile.merchant.mobile"></td>
            <td ng-bind="profile.merchant.website"></td>
            <td ng-bind="profile.merchant.location_city"></td>
        </tr>
        <tr ng-if = "search_merchant_list_show">
            <td ng-bind="search_merchant.id"></td>
            <td ng-bind="search_merchant.name"></td>
            <td ng-bind="search_merchant.email"></td>
            <td ng-bind="search_merchant.mobile"></td>
            <td ng-bind="search_merchant.website"></td>
            <td ng-bind="search_merchant.location_city"></td>
        </tr>
	</table>


</div>