<div class="admin-index-child">




  <table class="">
      <tr>
           <th>商户ID</th>
           <th>商户名称</th>
           <th>商户邮箱</th>
           <th>联系人姓名</th>
           <th>联系电话</th>
           <th>商户官网</th>
           <th>商户城市</th>
           <th>是否封号</th>
        </tr>

        <tr >
          <td><input type="text" ng-model = "merchant.id" /></td>  
          <td><input type="text" ng-model = "merchant.name" /></td> 
          <td><input type="text" ng-model = "merchant.email" /></td> 
          <td><input type="text" ng-model = "merchant.contact_person" /></td> 
          <td><input type="text" ng-model = "merchant.mobile" /></td> 
          <td><input type="text" ng-model = "merchant.website" /></td> 
          <td>      
            <select name="location_city" ng-model="location_city">
              <option value = "">全部</option>
              <option value = "Beijing">北京</option>
              <option value = "Shanghai">上海</option>
              <option value = "Tianjin">天津</option>
            </select>
          </td> 
          <td>      
            <select name="banned" ng-model="banned">
              <option value = "false">未封号</option>
              <option value = "true">已封号</option>
            </select>
          </td> 
          <td><button ng-click = "findMerchant()">搜索</button>
        </tr>
  </table>


	<table class="" >
	    <tr>
           <th>商户ID</th>
           <th>商户名称</th>
           <th>商户邮箱</th>
           <th>联系电话</th>
           <th>商户官网</th>
           <th>商户城市</th>
           <th>是否封号</th>
           <th>是否愿意合作</th>
           <th>商户等级</th>
           <th>操作</th>
        </tr>

        <tr ng-repeat = "profile in merchants">
            <td ng-bind="profile.merchant.id"></td>
            <td ng-bind="profile.merchant.name"></td>
            <td ng-bind="profile.merchant.email"></td>
            <td ng-bind="profile.merchant.mobile"></td>
            <td ng-bind="profile.merchant.website"></td>
            <td ng-bind="profile.merchant.location_city"></td>
            <td ng-bind="profile.merchant.banned"></td>
            <td ng-bind="profile.merchant.willing_to_cooperate"></td>
            <td ng-bind="profile.merchant.hierarchy"></td>
            <td>
              <button class="button" ng-click="adminLogin(profile.merchant.id)">登陆</button>
              <button class="button" ng-click="merchantProfileChangePage(profile.merchant.id)">编辑</button>
              <button class="button" ng-click="merchantLiveSetting()">上线审核</button>
            </td>
        </tr>
	</table>


</div>