<div class="admin-index-child">

	<div>
		<table>   
		    <tr>
	           <th>任务ID</th>
	           <th>负责人</th>
	           <th>类型</th>
	           <th>商户ID</th>
	        </tr>

	        <tr >
	            <td><input ng-model="search_task.id"></td>
	            <td>	            	
	            	<select name="task_type" ng-model="search_task.admin">
	            	  <option value = "all">全部</option>
	            	  <option value = "Nobody">无人跟进</option>
	            	  <option value = "{{admin.admin.name}}" ng-repeat = "admin in all_admins" ng-bind = "admin.admin.name"></option>
	            	</select>
	            </td>
	            <td>
	            	<select name="task_type" ng-model="search_task.task_type">
	            	  <option value = "all">全部</option>
	            	  <option value = "Nobody">无人跟进</option>
	            	  <option value = "{{admin.admin.name}}" ng-repeat = "admin in all_admins" ng-bind = "admin.admin.name"></option>
	            	</select>
	            </td>
	            <td><input ng-model="search_task.merchant.id"></td>
	            <td><button class="button" ng-click="checkAdminMerchantList(one.admin.name)">查看</button></td>
	        </tr>
        </table>
	</div>

</div>